<div class="row" id="affix-actions">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-12">
        <div class="page-header">
          <h1 class="pull-left">
            <span><%= raw title(model) %></span>
          </h1>

          <%= link_to instance_values[model.to_s], class: "btn btn-warning pull-right btn-action" do %>
            <i class="icon-remove"></i><br>Cancelar
          <% end  if show_action(model, :cancel) %>

          <%= link_to send("#{model.to_s.pluralize}_path"), class: "btn btn-white pull-right btn-action spacing" do %>
            <i class="icon-arrow-left"></i><br>Voltar
          <% end  if show_action(model, :back) %>

          <%= link_to send("#{model}_path", instance_values[model.to_s]), method: :delete, data: {confirm: "Confirma exclusão?"}, class: "btn btn-danger pull-right btn-action" do %>
            <i class="icon-trash"></i><br>Excluir
          <% end  if show_action(model, :destroy) && (!cancan || can?(:destroy, model.to_s.camelize.constantize)) %>

          <%= link_to send("edit_#{model}_path", instance_values[model.to_s]), class: "btn pull-right btn-action btn-success" do %>
            <i class="icon-edit"></i><br>Editar
          <% end if show_action(model, :edit) && (!cancan || can?(:update, model.to_s.camelize.constantize)) %>

          <%= link_to "#", class: "btn pull-right btn-action btn-primary", data: {"form-submit" => "[action='#{send("#{model.to_s.pluralize}_path")}']"} do %>
            <i class="icon-save"></i><br>Gravar
          <% end if show_action(model, :save) && instance_values[model.to_s].new_record?  %>

          <%= link_to "#", class: "btn pull-right btn-action btn-primary", data: {"form-submit" => "[action='#{send("#{model.to_s}_path", instance_values[model.to_s])}']"} do %>
            <i class="icon-save"></i><br>Gravar
          <% end if show_action(model, :save) && instance_values[model.to_s].persisted? %>

          <%= capture(&block) if block %>

          <%= link_to send("new_#{model}_path"), class: "btn btn-success pull-right btn-action spacing" do %>
            <i class="icon-plus"></i><br>Novo
          <% end if respond_to?("new_#{model}_path") && (show_action(model, :create) && (!cancan || can?(:create, model.to_s.camelize.constantize)))  %>
        </div>
      </div>
    </div>
  </div>
</div>