<div class="row">
  <label class="col-md-2 control-label text-right label-show"><%= t("simple_form.labels.#{model.class.to_s.underscore.downcase}.#{field}") %></label>
  <div class="col-md-10">
    <label class="form-control auto-height text-normal input-xs"><%= raw(value) %></label>
  </div>
</div>