@import 'flatty/theme-colors';
@import 'flatty/bootstrap/bootstrap';
@import 'flatty/plugins/plugins';
@import 'flatty/jquery/jquery_ui';
@import 'flatty/light-theme';

@import 'crud';
@import 'sessions';

body.fixed-header #wrapper {
  padding-top: 0 !important;
}

th[data-order].active:after, th.order-asc-active:after, th.order-desc-active:after {
  font-family: "FontAwesome";
  vertical-align: middle;
  margin-left: 5px;
}

th[data-ascdesc='asc'].active:after, th.order-asc-active:after {
  content: "\f0de";
  float: right;
}

th[data-ascdesc='desc'].active:after, th.order-desc-active:after {
  content: "\f0dd";
  float: right;
}

th[data-order], th.order {
  cursor: pointer;
}

th.order-desc-active, th.order-asc-active {
  background: $table-bg-active;
}

.dz-hidden-input {
  display: none;
}

.extended-form-control .box-content {
  margin: 3px 0px;
}

.auto-height {
  height: auto;
}

.back-button{
  color: white;
  &:hover{
    color: white;
    text-decoration: none;
  }
}

.form-control.select2 {
  font-weight: normal !important;
  min-height: 40px;
}

.btn-table {
  height: 35px;
}

.mini{
  font-size: 12px;
}

.angular-google-map-container { height: 400px; }

.select2-container {
  width: 100%;
}

.form-group {
  .select2-container {
    a {
      min-height: 40px;
    }

    .select2-search-choice-close {
      top: 12px;
    }

    .select2-chosen {
      margin-top: 6px;
    }

    .select2-arrow b {
      background-position-y: 7px;
    }
  }
}

#table-orders-show tr td {
  cursor: pointer;
}

.datas {
  color: white;
  display: inline-block;
  padding-top: 10px;
}

.btn.spacing {
  margin-left: 10px;
  margin-right: 10px;
}

.btn-action {
  text-align: center;
  font-size: 10px;
  text-transform: uppercase;
}

$padding-actions: 100px;
$padding-actions-sm: 140px;

.btn-action i, .btn-action span {
  font-size: 20px;
}
#content-wrapper {
  margin-top: 30px;
}
.crud .form {
  padding-top: $padding-actions;
}
.crud .affix {
  z-index: 10 !important;
  width: 100%;
}

.grid {
  padding-top: $padding-actions;
}

.show {
  padding-top: $padding-actions;

  label {
    min-height: 31px;
    font-size: 12px;
  }
}

@media (max-width: $screen-sm) {
  .show {
    padding-top: $padding-actions-sm;
  }

  .crud .form {
    padding-top: $padding-actions-sm;
  }

  .grid {
    padding-top: $padding-actions-sm;
  }
}

tr[data-href] td {
  cursor: pointer;
}

.label-show {
  padding-top: 7px;
}