<% content_for :content do %>
  <%= yield(:actions) %>

  <div class="row grid <%= content_for?(:actions) ? '' : 'without-padding' %>">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-sm-12">
          <%= messages %>

          <% if content_for?(:filtros) %>
            <div class="box box-nomargin">
              <div class="box-header box-header-small muted-background">
                <div class="title">
                  Filtros
                </div>
              </div>

              <div class="box box-nomargin">
                <%= yield(:filtros) %>
              </div>

            </div>
          <% end %>

        </div>
      </div>
      <% if content_for?(:angular_controller) %>
        <div class="row">
          <div class="col-sm-12">
            <div class="box box-nomargin">
              <div class="box-header box-header-small muted-background">
                <div class="title">
                  <span ng-show="loader"><%= image_tag "flatty/ajax-loaders/17.gif" %>&nbsp;&nbsp;Carregando Resultados</span>
                  <span ng-show="!loader">Resultados</span>
                </div>
                <%= yield(:header_resultados) %>
              </div>

              <div class="box-content">
                <%= yield(:resultados) %>
              </div>
            </div>
          </div>
        </div>
      <% else %>
        <div class="row">
          <div class="col-sm-12">
            <div class="box box-nomargin">
              <div class="box-header box-header-small muted-background">
                <div class="title">
                  Resultados
                </div>
              </div>

              <div class="box-content">
                <% if instance_values[controller_name].to_a.empty? %>
                  <p class="alert alert-info"><i class="icon-info-sign"></i> Nenhum resultado encontrado</p>
                <% else %>
                  <%= yield(:resultados) %>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 text-left">
            <strong>Total de Registros:</strong> <%= instance_values[controller_name].total_count %>
          </div>

          <div class="col-md-6 text-right">
            <%= paginate instance_values[controller_name] %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<%= render template: default_layout %>